<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../assets/styles/style.css">
    </head>
    <body>
        
        <!--        
            global header component
        -->
        <header class="global-header">
            <div class="container clearfix">
                <nav class="global-nav">
                    <ul class="global-nav__list">
                        <li class="global-nav__item"><a href="">about us</a></li>
                        <li class="global-nav__item"><a href="">news &amp; events</a></li>
                        <li class="global-nav__item"><a href="">sponsorship</a></li>
                        <li class="global-nav__item"><a href="">team</a></li>
                        <li class="global-nav__item"><a href="">contact</a></li>
                        <li class="global-nav__item"><a href="">press area</a></li>
                        <li class="global-nav__item"><a href="">careers</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        
        <!--  
            hero component
        -->
        <section>
            
        </section>
        
    </body>
</html>